joblib
numpy
mss
Pillow
pyperclip
PyWinCtl
rapidfuzz
scikit-learn

# Linux desktop input
evdev; sys_platform == "linux"
python-xlib; sys_platform == "linux"

# Windows desktop input
pydirectinput-rgx; sys_platform == "win32"
pynput; sys_platform == "win32"
